@use 'common'
@use 'func'
:root
    --time: .5s

*
    text-align: justify
html
    background: linear-gradient(0deg, common.$bg-color-alpha,common.$bg-color-alpha),url('../static/keyboard.jpg') center fixed no-repeat
    background-size: cover

section
    display: flex
    height: 100vh
    &#section1
        @include func.position(absolute,0,0,0,0,10)
        flex-direction: column
        justify-content: center
        align-items: center
        height: 80vh
        h1
            margin: .75rem 0
            padding-left: common.$font-size
            span
                font-size: inherit
                height: fit-content
        p
            line-height: calc( common.$font-size * 1.7 )
            padding-left: .5rem
            padding-right: .5rem
        h6
            text-align: right
            span
                transition-duration: .25s

                &:hover
                    animation: text-shadow infinite 6s alternate-reverse
                    cursor: pointer
        h2
            padding: .5rem 1rem
            width: 320px
            text-align: center

            span
                font-size: inherit

    &#section2
        @include func.position(absolute,0,0,0,0,20)
        flex-direction: column
        justify-content: center
        align-items: center
        visibility: hidden
        opacity: 0
        transition-property: visibility opacity
        transition-duration: 1s
        background-color: common.$bg-color

        h1
            margin: common.$font-size 0
        .skills
            display: grid
            grid-template-columns: repeat(auto-fill,minmax(300px,1fr))
            justify-items: center
            gap: common.$font-size
            width: 95%
            max-width: common.$max-width
            height: 80%
            overflow-y: scroll
            padding: 1rem 0
            &::-webkit-scrollbar
                background-color: common.$item-color
                border-radius: common.$font-size
                width: .4rem
            &::-webkit-scrollbar-thumb
                background-color: common.$font-color
                border-radius: common.$font-size
            .cards
                width: 300px
                height: 350px
                border: 1px solid common.$bg-color
                border-radius: common.$font-size
                &:hover
                    animation-name: neon-effect
                    animation-duration: 6s
                    animation-iteration-count: infinite
                *
                    text-align: center
                .title
                    padding: calc(common.$font-size/2) 0
                    background-color: #25252580
                    border-top-left-radius: common.$font-size
                    border-top-right-radius: common.$font-size
                    & *
                        animation-name: text-shadow
                        animation-duration: 8s
                        animation-iteration-count: infinite
                        animation-direction: alternate-reverse
                &#py
                    @include func.background('python.png')
                &#js
                    @include func.background('nodejs.png')
                &#sass
                    @include func.background('sass.png')
                &#mysql
                    @include func.background('mysql.png')
                &#sqla
                    @include func.background('sqla.png')
                &#vim
                    @include func.background('vim.png')
                &#bs
                    @include func.background('bootstrap.png')
                &#bw
                    @include func.background('bootswatch.svg')
                &#go
                    @include func.background('golang.svg')
                &#ruby
                    @include func.background('ruby.png')
                &#design
                    @include func.background('html.png')

                .content
                    @include func.flex($justify:flex-end,$item:flex-start)
                    padding: 0 calc(common.$font-size/3)
                    width: 100%
                    height: 75%
                    transition-duration: .5s

                    &>div
                        background-color: common.$bg-color
                        visibility: hidden
                        &>div.init
                            width: 0 !important
                    &:hover
                        background: linear-gradient(180deg,transparent,common.$bg-color,common.$bg-color-alpha)
                        ul *
                            visibility: initial
                            top: 0

                    ul
                        width: 100%
                        visibility: hidden
                        overflow: hidden

                        &>*
                            position: relative
                            top: 100%
                            transition-duration: 1s
                        &>h6
                            text-align: left
                            text-decoration: underline
                        &>li
                            text-align: left
                            padding-left: 1rem

                    .progress
                        visibility: initial !important
                        width: 100%
                        height: 1.2rem
                        border: 1px solid common.$font-color
                        border-radius: .25rem
                        background-color: common.$font-color
                        &__bar
                            height: 100%
                            background: common.$item-alpha
                            @include func.flex
                            transition: width 1.5s
                            border-radius: .25rem
                            &__text
                                margin-left: 1rem
                                font-weight: bold
    &#section3
        @include func.position(absolute,0,0,0,0,30)
        @include func.flex($align:flex-start,$direction:row,$wrap:wrap)
        width: 100%
        gap: 1rem
        background: linear-gradient(180deg,common.$bg-color-2 25%,common.$bg-color-2-hover 50%,transparent 50%)
        visibility: hidden
        overflow: hidden
        &::before
            content: ""
            @include func.position(inherit,$zindex:-1)
            background: linear-gradient(180deg,transparent 50%,common.$bg-color-2 50%,common.$bg-color-2-hover 25%)
            width: 100%
            height: 100%

        h2
            text-align: center
            width: 320px
            padding-top: 1rem
            align-self: flex-start

        .proyects
            width-min: 320px
            width: 800px
            height: 100%
            &__content
                width: 100%
                height: 100%
                @include func.flex($direction:row)
                gap: .8rem
                &__item
                    width: 300px
                    min-height: 300px
                    padding: 1rem
                    background: common.$carrousel
                    border: 2px solid common.$bg-color-2-hover
                    border-radius: .5rem
                    & + &--active
                        transform: perspective(1000px) translate3d(0,0,0)
                    &--active
                        transform: perspective(1000px) translate3d(0,0,100px)

.btn
    width: 160px
    @include func.position(inherit,3%,3%)
    @include func.flex($direction:row,$wrap:wrap)
    gap: .25rem
    div a
        transition-duration: .25s
        &:hover
            cursor: pointer
            animation: text-shadow 6s infinite alternate-reverse