@use 'common'

@mixin flex($justify: false,$align: false,$item: false,$direction:column,$wrap:nowrap)
    display: flex
    @if $justify
        justify-content: $justify
    @if $align
        align-content: $align
    @if $item
        align-items: $item
    flex-direction: $direction
    flex-wrap: $wrap

@mixin position($pos:'inherit',$top:0,$left: false,$right: false,$bottom: false,$zindex:10)
    position: $pos
    top: $top
    @if $left 
        left: $left
    @if $right 
        right: $right
    @if $bottom
        bottom: $bottom
    z-index: $zindex

@mixin background($url)
    background-size: cover
    background: linear-gradient(90deg,#25252580,#17171780),url('../static/'+$url) center/80% no-repeat

.neon
    margin: calc(common.$font-size*2) !important
    background-color: common.$bg-color
    border-radius: calc(common.$font-size/2)
    animation-name: neon-effect
    animation-delay: 2s
    animation-duration: 6s
    animation-iteration-count: infinite
    animation-direction: alternate-reverse
@keyframes neon-effect
    0%
        box-shadow: 0 0 common.$font-size calc( common.$font-size / 4 ) #f00, 0 0 calc( common.$font-size / 4 ) calc( common.$font-size / 8 ) #f55
    20%
        box-shadow: 0 0 common.$font-size calc( common.$font-size / 4 ) #ff0, 0 0 calc( common.$font-size / 4 ) calc( common.$font-size / 8 ) #5f5
    40%
        box-shadow: 0 0 common.$font-size calc( common.$font-size / 4 ) #00f, 0 0 calc( common.$font-size / 4 ) calc( common.$font-size / 8 ) #55f
    60%
        box-shadow: 0 0 common.$font-size calc( common.$font-size / 4 ) #f00, 0 0 calc( common.$font-size / 4 ) calc( common.$font-size / 8 ) #f55
    80%
        box-shadow: 0 0 common.$font-size calc( common.$font-size / 4 ) #ff0, 0 0 calc( common.$font-size / 4 ) calc( common.$font-size / 8 ) #5f5
    100%
        box-shadow: 0 0 common.$font-size calc( common.$font-size / 4 ) #00f, 0 0 calc( common.$font-size / 4 ) calc( common.$font-size / 8 ) #55f
.appear
    z-index: 20
    opacity: 1 !important
    visibility: initial !important
    transition-property: visibility opacity
    transition-duration: 1s

@keyframes text-shadow
    0%
        text-shadow: 0 0 1rem #ff0000, 0 0 .25rem #550000
    20%
        text-shadow: 0 0 1rem #fff000, 0 0 .25rem #555000
    40%
        text-shadow: 0 0 1rem #00ff00, 0 0 .25rem #005500
    60%
        text-shadow: 0 0 1rem #000fff, 0 0 .25rem #000555
    80%
        text-shadow: 0 0 1rem #f000ff, 0 0 .25rem #500055
    100%
        text-shadow: 0 0 1rem #f0ff00, 0 0 .25rem #505500

.front_open
    --left-init: -120vw
    --left-end: 0
    animation-name: mid_open
    animation-duration: 1s
    animation-timing-function: ease-in
    animation-fill-mode: forwards
.front_close
    --left-init: -120vw
    --left-end: 0
    animation-name: mid_close
    animation-duration: .8s
    animation-timing-function: ease-in
    animation-fill-mode: forwards
    animation-delay: 1.2s
.front_open::before
    --left-init: 240vw
    --left-end: 0
    animation-name: mid_open
    animation-duration: 1s
    animation-timing-function: ease-in
    animation-fill-mode: forwards
    animation-delay: 0.3s
.front_close::before
    --left-init: 240vw
    --left-end: 0
    animation-name: mid_close
    animation-duration: .8s
    animation-timing-function: ease-in
    animation-fill-mode: forwards
    animation-delay: .7s
.front_open>*
    opacity: 1
    transition-property: opacity
    transition-duration: 1s
    transition-delay: 1.5s

.front_close>*
    opacity: 0
    transition-property: opacity
    transition-duration: .5s

@keyframes mid_open
    0%
        left: var(--left-init)

    100%
        left: var(--left-end)

@keyframes mid_close
    0%
        left: var(--left-end)

    100%
        left: var(--left-init)

.btn
    width: 160px
    @include position(inherit,3%,3%)
    @include flex($direction:row,$wrap:wrap)
    gap: .25rem

.bounce
    width: fit-content
    transition-duration: .25s
    h6
        cursor: pointer
    span
        display: inline-block
    h6 span
        @for $i from 2 through 23
            &:nth-child(#{$i})
                animation-delay: .01s*$i
    &:hover span
        animation: text-shadow infinite 6s alternate-reverse, bounce .6s
    &:active span
        color: common.$item-alpha
        text-shadow: 0 0 2rem common.$font-color, 0 0 .5rem common.$hover-color-2
        text-decoration: underline

@keyframes bounce
    0%,100%
        transform: translate(0)
    25%
        transform: rotateX(20deg) translateY(2px) rotate(-3deg)
    50%
        transform: translateY(-20px) rotate(3deg) scale(1.1)

@keyframes appearMove
    0%
        opacity: 0
        width: 0
    25%
        opacity: 1
    100%
        width: 125px

@keyframes border
    to
        filter: hue-rotate(1turn)

.loader__container
    --size-loader: 50px
    --size-orbe: 10px
    width: var(--size-loader)
    height: var(--size-loader)
    position: relative
    transform: rotate(45deg)
    margin: auto
    top: 50%
.loader__item
    position: absolute
    width: 100%
    height: 100%
    --delay: calc(var(--index) * 0.1s)
    animation: orbit7456 ease-in-out 1.5s var(--delay) infinite
    opacity: calc(1 - calc(0.2 * var(--index)))
.loader__item::after
    position: absolute
    content: ''
    top: 0
    left: 0
    width: var(--size-orbe)
    height: var(--size-orbe)
    background-color: common.$hover-color-2
    box-shadow: 0px 0px 20px 2px common.$hover-color-2
    border-radius: 50%

@keyframes orbit
    0%
    80%
        transform: rotate(360deg)
    100%
        transform: rotate(360deg)

.proyect__hidden
    opacity: 0
    visibility: hidden
.proyect__active
    position: absolute
    left: 0
    width: 100% !important
    max-height: 800px !important
    height: 100% !important
    justify-content: space-evenly !important
    span
        transition-delay: 0
        transform: rotate(0) !important
        &+.hover
            display: initial !important

